RK_BUILDROOT_BASE_CFG="powerfin"
# RK_YOCTO is not set
# RK_NETWORK_CHECK is not set
RK_ROOTFS_HOSTNAME_CUSTOM=y
RK_ROOTFS_HOSTNAME="powerfin"
RK_ROOTFS_INSTALL_MODULES=y
RK_DISK_SKIP_FSCK=y
# RK_WIFIBT is not set
# RK_ROOTFS_LOG_GUARDIAN is not set
# RK_EXTRA_FONTS_ENABLED_EN is not set
RK_EXTRA_FONTS_DISABLED=y
RK_USB_RNDIS=y
# RK_ROOTFS_INPUT_EVENT_DAEMON is not set
# RK_ROOTFS_IRQBALANCE is not set
# RK_ROOTFS_FSTRIM is not set
RK_UBOOT_CFG="rk3506_luckfox"
RK_UBOOT_CFG_FRAGMENTS="powerfin_spinor rk-amp"
RK_UBOOT_SPL=y
RK_AMP=y
RK_AMP_HAL_TARGET=""
RK_AMP_BETAFLIGHT_TARGET="POWERFIN"
RK_AMP_FIT_ITS="amp_linux_betaflight.its"
RK_KERNEL_CFG="rk3506_luckfox_defconfig"
RK_KERNEL_CFG_FRAGMENTS="powerfin.config"
RK_KERNEL_DTS_NAME="rk3506-powerfin-spinor"
RK_BOOT_COMPRESSED=y
RK_BOOT_FIT_ITS_NAME="powerfin-boot.its"
RK_BOOT_FIT_RECOVERY_DTS_NAME="rk3506-powerfin-ramboot"
RK_BOOT_FIT_PACK_SCRIPT="repack_powerfin_ramboot.sh"
RK_BOOT_FIT_MAX_SIZE=0x6f0000
# RK_RECOVERY is not set
RK_EXTRA_PARTITION_NUM=0
RK_PARAMETER="parameter-powerfin-spinor-amp.txt"
RK_USE_FIT_IMG=y
RK_ROOTFS=y
